<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment> BE-Layout: pagets__t3sbootstrap_1 </f:comment>
<f:render partial="BE-Layouts/Div/NavPageHeader" arguments="{_all}" />
<main class="page-content">
	<div class="{f:if(condition: '{settings.styles.container-fluid}',then: 'container-fluid', else: 'container')}">
	<f:render partial="BE-Layouts/Div/ContentOnePageHeader" arguments="{_all}" />
	<f:cObject typoscriptObjectPath="lib.content.main" />
	</div>
</main>
</html>
