<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment> BE-Layout: pagets__t3sbootstrap_4 </f:comment>
<f:if condition="{settings.styles.navbar.onTop}">
	<f:then>
		<f:render partial="NavBar/_main" arguments="{_all}" />	
	</f:then>
	<f:else>
		<f:if condition="{settings.styles.navbar.style.fixed.top}">
			<f:render partial="NavBar/_main" arguments="{_all}" />
		</f:if>
	</f:else>
</f:if>

<f:cObject typoscriptObjectPath="lib.content.slider" />

<div class="{f:if(condition: '{settings.styles.container-fluid}',then: ' container-fluid', else: ' container')}">
	<f:if condition="{settings.styles.navbar.onTop}">
		<f:else>
			<f:if condition="{settings.styles.navbar.style.fixed.top}">
				<f:else>
					<f:render partial="NavBar/_main" arguments="{_all}" />
				</f:else>
			</f:if>
		</f:else>
	</f:if>
	<f:render partial="Page/Breadcrumb" />
</div>
<main class="page-content">
	<f:render partial="BE-Layouts/Div/ContentOnePageHeader" arguments="{_all}" />
	<f:cObject typoscriptObjectPath="lib.content.main" />
</main>
</html>