<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" /><f:section name="Main"><f:if condition="{settings.format != html}"><f:then><f:cObject typoscriptObjectPath="tt_content.list.20.{data.list_type}" data="{data}" /></f:then>
<f:else>
	<f:render partial="Header" arguments="{settings : settings, data : data, class : '' }" />
	<f:cObject typoscriptObjectPath="tt_content.list.20.{data.list_type}" data="{data}" />
</f:else>
</f:if>
</f:section>
</html>
